<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css">
    <!-- <link rel="stylesheet" href="/styles/style.css"> -->
    <link rel="stylesheet" href="../styles/layout.css">
    <title>Show Books</title>
</head>
<body>
    <header>
        <h1>Best Books! </h1>
        <div class="dropdown"><button class="menu">
            </button>
            <div class="dropdown-content">
                <a href="/">Home </a>
                <a href="/searches/new">Search The Google Book Api</a>
            </div>
        </div>
    </header>
    <div class="counter">
        <h2>
           Search Result
        </h2>
    </div>
    <!-- <header><h1>Best Books!</h1></header>
   
        <% mylist.forEach(book =>{  %>
         <form action="/addBook">
        <div>
        <img src=<%=book.image_url %> alt="">
        <h2><%=book.title %></h2>
        <h3><%=book.authors %></h3>
        <p><%=book.description %></p>
        <a href="/books/<%= book.id %>">View Details</a>
        <button type="submit">Add This Book</button>
        </div>
    </form>
        <!-- <% }) %>  -->

        <% mylist.forEach(book => { %>
            <section>
               <img id="show" src="<%= book.image_url %>"> 
               <h2 id="show"><%=book.title %></h2>
               <h3 id="show"><%=book.author%></h3>
               <p id="show"><%=book.description%></p>
               <form id="show" action="/addBooks" method="post">
                   <input type="hidden" name="image_url" value="<%= book.image_url%>">
                   <input type="hidden" name="title" value="<%= book.title%>">
                   <input type="hidden" name="author" value="<%= book.author%>">
                   <input type="hidden" name="description" value="<%= book.description%>">
                   <input type="hidden" name="isbn" value="<%= book.isbn%>">
                   <button type="submit">Select Book</button>
               </form></section>
           
       <% }) %>



        
</body>
</html>